.app{
	display: flex;
	background-color: gray;
	padding: 10px;
	flex-direction: column;
	height: 100%;
}
.inlineIt{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.main-div{
	display: flex;
	background-color: red;
	width: 100%;
	height: 70%;
	justify-content: space-between;
}